# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5438
POSTGRES_DB=AUTOService
POSTGRES_USER=postgres228
POSTGRES_PASSWORD=roman228

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Minio S3 Storage
MINIO_SERVICE_URL=http://localhost:9000
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password
MINIO_BUCKET_NAME=service-files

# JWT
JWT_SECRET_KEY=SecretKeySecretKeySecretKeySecretKeySecretKeySecretKeySecretKeySecretKeySecretKey
JWT_EXPIRES_HOURS=12

# Direct Connection String overrides (optional)
ConnectionStrings__Database=Host=localhost;Port=5438;Database=AUTOService;Username=postgres228;Password=roman228
ConnectionStrings__Redis=localhost:6379
